/* @import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css); */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open Sans Condensed:300");
@import url(//db.onlinewebfonts.com/c/c38f2cc711985becf7550d75271b1175?family=Neo+Sans+Pro);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}


h1 {
  display: inline;
  margin: 0;
  font-size: 43px;
  letter-spacing: -1px;
  color: #cc0000;
  font-weight: 700;
  font-style: italic;
  font-family: "Neo Sans Pro";
}

h2 {
  font-size: 36px;
  line-height: 43px;
  color: #4f4d4d;
  font-weight: 400;
  font-family: "Ubuntu Condensed";
  filter: drop-shadow(-0.643px 0.766px 0px #ffffff);
  max-width: 70%;
  padding: 1em 0 0 3em;
}


.headline {
  padding: 3em 0 0 1em;
  display: grid;
}

.logo {
  display: flex;
  align-items: center;
}

.subtitle {
  margin: 0;
  font-size: 12px;
  color: #677579;
  font-weight: 400;
  font-family: "Ubuntu Condensed";
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  gap: 2em;
}

.red_tabs{
  display: grid;
  gap: 1em;
  padding: 1em 0 0 7em;
  list-style: none;
  text-align: center;
  min-width: 25%;
}

.grey_tabs {
  display: grid;
  gap: 1em;
  padding: 1em 0 0 2em;
  list-style: none;
  text-align: center;
  min-width: 35%;  
}


.tab-red-long {
  padding: 1em 1em;
}

.draggable {
  font-size: 24px;
  font-family: "Ubuntu Condensed";
  color: rgb(239, 238, 239);  
  background: radial-gradient(ellipse, #ff0000, #d50000);
  text-align: center;
  position: relative;
  padding: 0.5em 1em;
  border-radius: 0.5em 0.5em;
  min-height: 100%;
  cursor: move;
}

.draggable.dragging {
  opacity: 0.1;
}

.container {
  font-size: 24px;
  font-family: "Ubuntu Condensed";
  color: #b3b3b3;  
  background: radial-gradient(ellipse, #e4e4e4, #eaeaea);
  text-align: center;
  position: relative;
  padding: 1em 2em;
  border-radius: 0.5em 0.5em;
  min-height: 100%;
}

.hide {
  display: none;
}


#bitmap {
  padding: 2em 0 0 5em;
}

#doctor {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
}

#vivanti-logo {
  position: absolute;
  bottom: 0;
  width: 100%;
}
